<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact | Cristian Rodriguez</title>

    <link rel="stylesheet" href="/css/navbar.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="shortcut icon" type="image/png" href="../assets/fav.png"/>

</head>
<body>
    <header class="NavBar">
        <div class="logo">
            <div class="image">
                <svg width="50" height="42" viewBox="0 0 50 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M41.624 2.83655L28.2816 15.9559C28.662 16.5426 28.9042 17.2313 28.9128 17.9795C28.9301 20.1052 27.192 21.8482 25.0389 21.8652C22.8771 21.8822 21.1045 20.1732 21.0872 18.0561C21.0785 17.2823 21.312 16.5596 21.7098 15.9474L8.37596 2.83655C4.56259 6.87524 2.24517 12.2913 2.29706 18.2261C2.40947 30.5292 12.6909 40.4517 25.2118 40.3411C37.7328 40.2306 47.824 30.1211 47.7029 17.8095C47.6511 12.0278 45.3423 6.77321 41.624 2.83655Z"
                        stroke-width="3" stroke-miterlimit="10" />
                    <path
                        d="M25.0303 10.9565C26.8202 10.9395 28.2556 9.50253 28.2383 7.74251C28.221 5.98249 26.7597 4.57107 24.9697 4.58807C23.1798 4.60508 21.7444 6.05051 21.7617 7.80202C21.779 9.56204 23.2403 10.9735 25.0303 10.9565Z"
                        stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
            <h1>
                <b>
                    Cristian
                </b>
                <br />
                Rodriguez
            </h1>
        </div>

        <nav id="mainmenu">
            <ul>
                <li data-menuanchor="The-Beginning"><a href="/#TheBeginning" data-scroll="#begining">The
                        Beginning</a></li>
                <li data-menuanchor="The-Approach"><a href="/#TheApproach">The Approach</a></li>
                <li data-menuanchor="The-Projects"><a href="/#TheProjects">The projects</a></li>
                <li><a href="/AboutMe">About me</a></li>
                <li class="active"><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="Contact screen">
        <h5>Let's have a talk</h5>
    </div>
</body>
</html>