<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cristian Rodriguez | Portfolio</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">

    <link rel="shortcut icon" type="image/png" href="../assets/fav.png"/>

</head>


<body>
    <header class="NavBar">
        <div class="logo">
            <div class="image">
                <svg width="50" height="42" viewBox="0 0 50 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M41.624 2.83655L28.2816 15.9559C28.662 16.5426 28.9042 17.2313 28.9128 17.9795C28.9301 20.1052 27.192 21.8482 25.0389 21.8652C22.8771 21.8822 21.1045 20.1732 21.0872 18.0561C21.0785 17.2823 21.312 16.5596 21.7098 15.9474L8.37596 2.83655C4.56259 6.87524 2.24517 12.2913 2.29706 18.2261C2.40947 30.5292 12.6909 40.4517 25.2118 40.3411C37.7328 40.2306 47.824 30.1211 47.7029 17.8095C47.6511 12.0278 45.3423 6.77321 41.624 2.83655Z"
                        stroke-width="3" stroke-miterlimit="10" />
                    <path
                        d="M25.0303 10.9565C26.8202 10.9395 28.2556 9.50253 28.2383 7.74251C28.221 5.98249 26.7597 4.57107 24.9697 4.58807C23.1798 4.60508 21.7444 6.05051 21.7617 7.80202C21.779 9.56204 23.2403 10.9735 25.0303 10.9565Z"
                        stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
            <h1>
                <b>
                    Cristian
                </b>
                <br />
                Rodriguez
            </h1>
        </div>

        <nav id="mainmenu">
            <ul>
                <li class="active" data-menuanchor="The-Beginning"><a href="/#TheBeginning" data-scroll="#begining">The
                        Beginning</a></li>
                <li data-menuanchor="The-Projects"><a href="/projects">The projects</a></li>
                <li><a href="/AboutMe">About me</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </header>


    <div id="wrapper">

        <div class="Home" id="home">

            <section class="banner_screen screen section" id="TheBeginning">
                <div class="container">
                    <div class="main_copy">
                        Good design is about creating <b>smiles (:</b>
                    </div>
                    <div class="word_banner">
                        <span> Methodical /</span>
                        <span> Warm /</span>
                        <span> Idealist /</span>
                        <span> Mediator /</span>
                        <span> Team Worker /</span>
                        <span> Error Learner</span>
                    </div>
                    <a href="/projects">
                        <div class="scroll_popper popper--main">
                            <div class="button--main">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4157 1.8052L16.7895 5.34622C17.6258 5.81082 17.6258 6.85587 16.7895 7.32047L15.7163 7.91668L16.7895 8.51288C17.6258 8.97748 17.6258 10.0225 16.7895 10.4871L15.7163 11.0833L16.7895 11.6795C17.6258 12.1441 17.6258 13.1892 16.7895 13.6538L10.4157 17.1948C9.88321 17.4906 9.11687 17.4906 8.58442 17.1948L2.21058 13.6538C1.3743 13.1892 1.3743 12.1441 2.21058 11.6795L3.28376 11.0833L2.21058 10.4871C1.3743 10.0225 1.3743 8.97748 2.21058 8.51288L3.28376 7.91668L2.21058 7.32047C1.3743 6.85587 1.3743 5.81082 2.21058 5.34622L8.58442 1.8052C9.11687 1.50939 9.88321 1.50939 10.4157 1.8052ZM10.4157 10.8615L14.0862 8.82231L15.306 9.50001L14.0862 10.1777L12.456 11.0833L9.64673 12.6441C9.59248 12.6742 9.4076 12.6742 9.35336 12.6441L6.54404 11.0833L4.9139 10.1777L3.69404 9.50001L4.9139 8.82231L8.58442 10.8615C9.11687 11.1573 9.88321 11.1573 10.4157 10.8615ZM4.9139 11.989L3.69404 12.6667L9.35336 15.8107C9.4076 15.8409 9.59248 15.8409 9.64673 15.8107L15.306 12.6667L14.0862 11.989L10.4157 14.0282C9.88321 14.324 9.11687 14.324 8.58442 14.0282L4.9139 11.989ZM9.35335 3.18928C9.4076 3.15914 9.59247 3.15914 9.64672 3.18928L15.306 6.33334L9.64672 9.47741C9.59247 9.50754 9.4076 9.50754 9.35335 9.47741L3.69403 6.33334L9.35335 3.18928Z" fill="white"/>
                                    </svg>
                                                                    <p>Watch the projects?</p>

                            </div>


                        </div>
                    </a>
                </div>
            </section>
            <section class="approach_screen screen section" id="TheApproach">
                <div class="hands">
                    <div class="left">

                    </div>
                    <div class="right">

                    </div>
                </div>
                <div class="container">
                    <h2>UI Designer + Front-End Developer + UX Designer</h2>
                    <p class="main">Thinking about <b>experience.</b></p>
                    <p>i take UI Design and Development as tools to build experiences. Finally that’s what people will
                        feel.</p>
                </div>
            </section>

        </div>
    </div>
    <script src="js/p5.js"></script>
    <script src="js/sketch.js"></script>
    <script type='text/javascript'
        src='https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>

    <script type='text/javascript' src='js/jquery.mousewheel.min.js'></script>


    <script src="js/sweet-scroll.js"></script>



    <script src="js/uifeatures.js"></script>
</body>

</html>